/*colors*/
$leftnav-text: #595959;
$leftnav-text-active: #02BAE4;
$leftnav-background-active: #002D37;
$body-background: #F6F6F6;
$leftnav-background: $body-background;
$white: #fff;
$graph-blue: #02BAE4;

/*standard sizing*/
$border-radius: 4px;
$box-shadow: 0 0 2px 0 rgba(0,0,0,0.20);
$subtle-gray: #ddd;
$medium-gray: #9d9d9d;
$font-size-lg: 18px;
$font-size-sm: 14px;
$margin: 0 0 25px 0; 

/*fonts*/
$font-family: 'Lato', sans-serif;